body {
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/money.jpg);

    height: 80vh;
    background-size: cover;
    background-position: center;
}

.login-page {
    width: 380px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background-image: url(images/pic1.jpg);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 1;
        background: #ced0d1;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: rgb(12, 95, 12);
        border: 0;
        padding: 15px;
        color: #f7f3f3;
        font-size: 10px;
        cursor: pointer;
    }

        .form button:hover, .form button:active {
            background: rgb(9, 46, 11);
        }

    .form.message {
        margin: 10px 0 0;
        color: rgb(219, 132, 18);
        font-size: 10px;
    }

    .form .form.message a {
        color: #4CAF50;
        text-decoration: none;
    }

    .form.register-form {
        display: none;
    }

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: calc(50% - 50px);
}

h1 {
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: azure;
}

h2 {
    font-size: 20px;
    color: white;
}

.welcome {
    position: absolute;
    width: 1140px;
    top: 30%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
}

.avatar {
}

.option1 {
    width: 170px;
    height: 170px;
    border-radius: 40%;
    position: absolute;
    top: 40%;
    left: 24%;
}

.option2 {
    width: 170px;
    height: 170px;
    border-radius: 40%;
    position: absolute;
    top: 40%;
    left: 55%;
}

.option3 {
}


