<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="./style2.css">
</head>
<body>
    <div class="welcome">
        <h1>
                
            <mark>
                    <mark style="background-color:rgb(235, 185, 21);">
                WELCOME TO THE ACCOUNT MENU
            </mark>
        </h1>
        <h2>
            WHERE ARE YOU PAYING TODAY?
        </h2>
    </div>
    <div class="option1">
            <a href="clickable">
        <img src="images/option1.png" class="option1">
        <p class="img-text">
            RESTURANT
             
        </p>
           
        </div>
     

     </h1>
    </div>
    <div class="option2">
            <a href="clickable">
        <img src="images/option2.jpg" class="option2">
    </div>
    <div class="option3">
            <a href="clickable">
        <img src="images/option3.jpg" class="option2">
    </div>
    

    

</body>
</html>
