<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script src="functions.js"></script>
    <script>$(document).ready(function () {
                $('.dropdown-toggle').dropdown()
            });</script>
</head>
<body>
   

        <nav class="navbar navbar-dark bg-dark">
                <!-- Navbar content -->
                <div class="navbar navbar-inverse navbar-fixed-top" style="width:100%">
                    <div class="container">
                        <div class="navbar-header">
                            <h4 style="color:white">GROUP PAY</h4>
                        </div>
                        <div class="logoOnNavBar">
                                <img src="images/Gp.jpg" />
                            </div>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">My Account<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <button class="dropdown-item" type="button" onclick="location.href='previousPaygroup.html'">View Past Payments</button>
                                <button class="dropdown-item" type="button" onclick="location.href='index.html'">Sign Out</button>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>

            
            <div style="transform: translate(10%,0);" class="billBody">
                    <div class="card">
                            <div class="card-header">
                              Bill info
                            </div>
                            <div class="card-body">
                              <blockquote class="blockquote mb-0">
                                    <p> Confirm you would be paying the sum of <a>$40</a></p>
                                    <p>Total group bill is <a>$140</a></p>
                                    <p>No of group members <a>5</a></p>
                                    <p>Your bill is <a>%28</a> of the total bill</p>
                                <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
                              </blockquote>
                            </div>
                          </div>
            <div class="confirmBillMessage">
                
        
            </div>
            <div style="transform: translate(-10%,0);" class=Accept_Decline>
                    <!-- <div class="btn_accept_bill"><button type="button" class="btn btn-success" data-toggle="modal" data-target="accept_Modal">Accept Bill</button></div> -->
                    <div class="btn_accept_bill"><button type="button"  class="btn btn-primary" data-toggle="modal" data-target="#acceptBill">
                            Accept Bill
                          </button></div>
                    <div class="btn_decline_bill"><button type="button"  onclick="declineBill()"  class="btn btn-danger">Decline Bill</button></div>
                    
             </div>
             
        </div>
       

              <!-- Modal -->
              <div class="modal fade" id="acceptBill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Bill method</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      How would you like to continue
                     </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"  onclick="location.href='paymentMethod.html'">Pay as Guest</button>
                      <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#login_modal" >Login to pay</button>
                    </div>
                  </div>
                </div>
              </div>





              <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Bill method</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              <form action="paymentMethod.html" method="post">
                             <input placeholder="username" required/>  
                             <input placeholder="passwords" required/>
                              <button type="submit" class="btn btn-primary">Login</button>
                                </form>
                                <hr /><p />
                                 not registered?
                              <p />
                              <div class="quick_Signup">
                                  <form action="PaymentMthodSetup.html" method="post">
                                  <input type="email" placeholder="Enter email" required/>
                                  <input type="text" placeholder="Enter username" required/>
                                  <input type="password" placeholder=" Enter Pasword" required/>
                                  <input type="password" placeholder=" Confirm pasword" required/>
                                  <button type="submit" class="btn btn-primary" >Sign up</button>
                                  </form>
                              </div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                      </div>
                  </div>
              </div>




</body>
</html>