<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta charset="utf-8" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Untitled Document</title>
    <link href="style2.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(e) {
            var max_fields = 10; //maximum input boxes allowed
            var wrapper = $(".MemberEmailsI"); //Fields wrapper
            var btn_add = $(".btn-outline-success"); //Add button ID

            var x = 1; //initlal text box count
            $(btn_add).click(function(e) { //on add input button click
                e.preventDefault();
                if (x < max_fields) { //max input box allowed
                    x++; //text box increment
                    $(wrapper).append('<p /><div  class="memberEmailBox"><input type="email" placeholder="Enter member email" name="myEmails[]"/><a href="#" class="remove_field" color="red"> X </a></div>'); //add input box
                }
            });

            $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
                e.preventDefault();
                $(this).parent('div').remove();
                x--;
            })
        });
    </script>
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->


        <div class="dropdown">
            <div class="newPG">NEW PAY GROUP</div>
            <div class=" AccountButton">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
            </div>
            <div class="dropdown-menu" aria-labelledby="Welcome.html">
                <a class="dropdown-item" href="#">Sign Out</a>


            </div>
        </div>
    </nav>


</head>

<body>

    <!--<div class="logo">
        <img src="images/Gp.jpg" alt="LOGO" />
    </div>-->
    <div class="NPGmessage">

        <div class=" PGmessage"><h1 color="black">PLEASE ENTER EMAIL OF GROUP MEMBERS</h1></div>

        <div class="MemberEmailsI">
            <!--<p />-->
            <div class="memberEmailBox"><input type="email" placeholder="Enter member email" name="myEmails[]" /></div>
        </div>
        <p /><div class="addMoreMembers"><button type="button" class="btn btn-outline-success">Add more</button></div>
        <div class="sendInvites"><button type="button" class="btn btn-outline-primary">Send Invites</button></div>

        <!--<button class="btn_add_Fields">ADD MORE</button>-->

    </div>

</body>

</html>