<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
        <nav class="navbar navbar-dark bg-dark">
                <!-- Navbar content -->
                <div class="navbar navbar-inverse navbar-fixed-top" style="width:100%">
                    <div class="container">
                        <div class="navbar-header">
                            <h4 style="color:white">GROUP PAY</h4>
                        </div>
                        <div class="logoOnNavBar">
                                <img src="/home/aifuwa/Desktop/GroupPayment/View/images/logo.jpg" />
                            </div>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">My Account<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                    <button class="dropdown-item" type="button" onclick="location.href='previousPaygroup.html'">View Past Payments</button>
                                    <button class="dropdown-item" type="button">Sign Out</button>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

    <div class="constainer">
        <input type="text" class="form-control" placeholder="Search for a Grocery Shop" style="float:left;width:94.5%" />
        <button class="btn btn-success" style="float:right">Search</button>
    </div>

    <div class="container">
        <h4 style="text-align:center;margin-top:50px">GROCERY SHOPS NEAR YOUR LOCATION</h4>
    </div>

    <div class="container">
        <img src="images/ummap.PNG" width="700" height="460" style="margin-left:auto;margin-right:auto;display:block" />
    </div>

    <br />

    <div class="constainer" style="width:700px;margin:0 auto" onclick="location.href='splitSuperstoreGroup.html'">
        <div style="float:left;padding-top:40px">
            <a><img src="images/superstore.png" width="160" height="27" /></a>
        </div>
        <div class="address hours" style="text-align:left;text-indent:50px;float:left">
            <h5>SUPERSTORE</h5>
            <p><strong>Address</strong> 80 Bison Drive, Winnipeg, MB R3T 2N2</p>
            <p><strong>Hours</strong> Mon - Fri: 9am - 11pm, Sat: 11am - 7pm, Sun: Closed</p>
        </div>
    </div>

    <div class="constainer" style="width:700px;margin:0 auto" onclick="location.href='splitGPAGroup.html'">
        <div style="float:left;padding-top:20px">
            <a><img src="images/GPAs_2.jpg" width="180" height="60" /></a>
        </div>
        <div class="address hours" style="text-align:left;text-indent:30px;float:left">
            <h5>GPA's CONVENIENCE STORE</h5>
            <p><strong>Address</strong> 65 Chancellors Cir, Winnipeg, MB R3T 2N2</p>
            <p><strong>Hours</strong> Mon - Fri: 8am - 8pm, Sat: 11am - 7pm, Sun: Closed</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.js"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });
    </script>
</body>
