<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script>
        $(document).ready(function () {
                $('.dropdown-toggle').dropdown()
            });
    </script>

</head>
<body>
   
    <nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
            <div class="navbar navbar-inverse navbar-fixed-top" style="width:100%">
                <div class="container">
                    <div class="navbar-header">
                        <h4 style="color:white">GROUP PAY</h4>
                    </div>
                    <div class="logoOnNavBar">
                            <img src="/home/aifuwa/Desktop/GroupPayment/View/images/logo.jpg" />
                        </div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">My Account<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li style="text-align:center">Edit Profile</li>
                            <li style="text-align:center">View Past Payments</li>
                            <li style="text-align:center">Sign Out</li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

</body>