<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">


    <nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
            
           
            <div class="dropdown">
                
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="Welcome.html">
                      <a class="dropdown-item" href="#">Sign Out</a>
                    
                    
                    </div>
                  </div>
              </nav>
                      

    <div class="search">
        <h2>
            
            <button type="button" class="btn btn-outline-dark">

                <b>
                      Search For Restaurants Near You
                </b> </button>
                <img src="images/location.png" class="option4">
        </h2>
           
        
    </div>

</style>
    <form>
        <div class="form-group">

       

            <div class="form-group row">
              <label for="Enter name of Restaurants" class="col-sm-2 col-form-label">INSTITUTION</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Enter name of Restaurants">
              </div>
            
            </form>
        </div>
</head>
<body>


</body>
