<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js">
    </script>
    <script src="js/bootstrap.bundle.js">
    </script>

    <nav class="navbar navbar-dark bg-dark">
            <!-- Navbar content -->
            
           
            <div class="dropdown">
                
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="Welcome.html">
                      <a class="dropdown-item" href="#">Sign Out</a>
                    
                    
                    </div>
                  </div>
              </nav>
            

</head>
<body>

       
    <div class="welcome">
        <h1>
            WELCOME TO THE ACCOUNT MENU
        </h1>
        <h2>
            WHERE ARE YOU PAYING TODAY?
        </h2>
    </div>
    <div class="option1">
            <a href="restaurantsPage.html">
        <img src="images/option1.png" class="option1">
        <p class="img-text">
         <!-- write names -->
             
        </p>
           
        </div>

     </h1>
    </div>
    <div class="option2">
            <a href="clickable">
        <img src="images/option2.jpg" class="option2">
    </div>
    <div class="option3">
            <a href="clickable">
        <img src="images/option3.jpg" class="option2">
    </div>
    

    

</body>
</html>
